.buttonsDisplay {
    background-color: lightblue;
    padding: 10px 5px 10px 5px;
}

.inputDisplay{
	background-color: red;
	float:right;
}

.topButtons {
    height: 50px;
    width: 80px;
}

input[type="button"]:hover {
    border: 1px solid #999;
    background-color: #1e9088;
    color: #fff;
}