.buttonsDisplay {
    background-color: lightgrey;
    padding: 10px 5px 10px 5px;
}

.inputDisplay{
	background-color: red;
	float:right;
}

.topButtons {
    height: 50px;
    width: 80px;
}

input[type="button"]:hover {
    border: 1px solid #999;
    background-color: #1e9088;
    color: #fff;
}

#aside{
	background-color:lightgrey;
	margin: auto;
    width: 30%;
    padding: 10px;
}

#submitBtn{
	margin-left:10px;
}

body{
    background-color:lightblue;
}